In [2]:
import pandas as pd
eeg = pd.read_csv("../df_eeg.csv") 
eeg.head()

   Unnamed: 0  id  Gender  adhdtype brain_oscillation electrode  fft_abs_power
0           0   1       1         2             Delta       FP1      15.376173
1         133   1       1         2             Beta2        Pz       1.870920
2         134   1       1         2             Beta2        P3       1.690150
3         135   1       1         2             Beta2        T5       1.138450
4         136   1       1         2             Beta2        T4       2.171898

In [4]:
eeg.tail()

,Unnamed: 0,id,Gender,adhdtype,brain_oscillation,electrode,fft_abs_power
20059,15958,702,1,1,Theta,Fz,15.355240
20060,15959,702,1,1,Alpha,P3,26.927847
20061,15960,702,1,1,Theta,F4,12.414647
20062,15935,702,1,1,Theta,F3,12.058871
20063,16092,702,1,1,Alpha2,F3,7.689915